<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    jkbjkbkjjk
    <form class="px-4 py-3" method="POST" action=" ">
        {% csrf_token %}
        <select name="company1" style="font-size: 15px;width:226px;">
          <option selected disabled="true">--SELECT FIRST COMPANY--</option>
          <option value="0">Bitcoin</option>
          <option value="1">Apple</option>
          <option value="2">Google</option>
          <!-- <option value="3">1920.0 x 1080.0</option> -->
        </select>
        <select name="company2" style="font-size: 15px;width:226px;">
            <option selected disabled="true">--SELECT SECOND COMPANY--</option>
            <option value="0">Bitcoin</option>
            <option value="1">Apple</option>
            <option value="2">Google</option>
            <!-- <option value="3">1920.0 x 1080.0</option> -->
          </select>
        <label for="birthday">Start Date:</label>
    <input type="date" id="start_date" name="start_date">
    <label for="birthday">Close Date:</label>
    <input type="date" id="close_date" name="close_date">
        <button type="submit" class="btn btn-primary">Select</button>
      </form>
      <div class="dropdown-divider"></div>
    <!-- <a class="dropdown-item" href="#">New around here? Sign up</a>
        <a class="dropdown-item" href="#">Forgot password?</a> -->
  </div>
 
  <div id="container" style="width: 100%;">
    <canvas id="pie-chart-compare"></canvas>
  </div>
  <div id="container" style="width: 100%;">
    <canvas id="pie-chart-low"></canvas>
  </div>
  <div id="container" style="width: 100%;">
    <canvas id="pie-chart-open"></canvas>
  </div>
  <div id="container" style="width: 100%;">
    <canvas id="pie-chart-close"></canvas>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    const labels = {{ x| safe }};
    const data_compare = {
        labels: labels,
        datasets: [
            {
                label: '{{ company1 }}'+" - High",
                showLine: true,
                fill: false,
                data: {{ y_high_stock1| safe }},
                borderColor: 'rgba(0, 200, 0, 1)'
          },
        {
            label: '{{ company2 }}'+" - High",
            showLine: true,
            fill: false,

            data: {{ y_high_stock2 | safe }},
            borderColor: 'rgba(200, 0, 0, 1)'
        }
      ]
};
    const config_compare = {
        type: 'line',
        data: data_compare,
    };
    const data_low = {
        labels: labels,
        datasets: [
            {
                label: '{{ company1 }}'+" - Low",
                showLine: true,
                fill: false,
                data: {{ y_low_stock1| safe }},
                borderColor: 'rgba(0, 200, 0, 1)'
          },
        {
            label: '{{ company2 }}'+" - Low",
            showLine: true,
            fill: false,

            data: {{ y_low_stock2 | safe }},
            borderColor: 'rgba(200, 0, 0, 1)'
        }
      ]
};
    const config_low = {
        type: 'line',
        data: data_low,
    };
    const data_open = {
        labels: labels,
        datasets: [
            {
                label: '{{ company1 }}'+" - Open",
                showLine: true,
                fill: false,
                data: {{ y_open_stock1| safe }},
                borderColor: 'rgba(0, 200, 0, 1)'
          },
        {
            label: '{{ company2 }}'+" - Open",
            showLine: true,
            fill: false,

            data: {{ y_open_stock2 | safe }},
            borderColor: 'rgba(200, 0, 0, 1)'
        }
      ]
};
    const config_open = {
        type: 'line',
        data: data_open,
    };
    const data_close = {
        labels: labels,
        datasets: [
            {
                label: '{{ company1 }}'+" - Close",
                showLine: true,
                fill: false,
                data: {{ y_close_stock1| safe }},
                borderColor: 'rgba(0, 200, 0, 1)'
          },
        {
            label: '{{ company2 }}'+ "- Close",
            showLine: true,
            fill: false,

            data: {{ y_close_stock2 | safe }},
            borderColor: 'rgba(200, 0, 0, 1)'
        }
      ]
};
    const config_close = {
        type: 'line',
        data: data_close,
    };

    window.onload = function () {


        var ctx_compare = document.getElementById('pie-chart-compare').getContext('2d');
        window.myPie = new Chart(ctx_compare, config_compare);
        var ctx_low = document.getElementById('pie-chart-low').getContext('2d');
        window.myPie = new Chart(ctx_low, config_low);
        var ctx_open = document.getElementById('pie-chart-open').getContext('2d');
        window.myPie = new Chart(ctx_open, config_open);
        var ctx_close = document.getElementById('pie-chart-close').getContext('2d');
        window.myPie = new Chart(ctx_close, config_close);

    };

</script>
</body>

</html>
</body>
</html>